header {
    background-color: rgb(184, 40, 40);
    text-align: center;
    color: white

}
li {
    display: inline;
    border: white
}
footer {
    background-color: darkred;
    color: chartreuse;
}
main {
    color: chartreuse;
}
.main {
    width: 800px;
    height: 300px;

}
.smaller {
    width: 400px;
    height: 300px;
}
body {
    background-color: black;
}
